/*Navbar*/
.logo {
  font-family: "sofia", sans-serif;
  margin-left: 100px;
  color: rgb(190, 148, 69);
  height: 40px;
}

.navbar-nav > li > a:hover {
  font-size: 15px;
}

.active {
  color: rgb(47, 196, 84) !important;
}

.nav-link {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 100;
}

.navbar-nav li {
  padding: 0px 25px 0px 25px;
}

header {
  height: 100vh;
  background-size: cover;
  background-image: url("./images/Green\ Beige\ Minimalist\ Simple\ International\ Friendship\ Day\ Virtual\ Background\ -\ AB102\ \(1\).png");
}

.hidden-spacer {
  height: 56px;
}

.navbar {
  margin: 20px 150px 20px 150px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgb(151, 109, 31);
  background-color: #fff;
}

.brand-name {
  display: flex;
  justify-content: end;
  margin-right: 320px;
  margin-top: 280px;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: 200px;
  color: rgb(190, 148, 69);
}

.h4-text {
  display: flex;
  justify-content: end;
  margin-right: 340px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 200px;
  color: rgb(190, 148, 69);
  margin-top: 30px;
}

.step1 {
  display: flex;
  justify-content: center;
  font-family: "Sofia", sans-serif;
  margin-top: 50px;
  margin-bottom: 100px;
  color: rgb(190, 148, 69);
  font-size: 60px;
}

.pay {
  background-color: white;
  border: none;
  color: rgb(151, 109, 31);
  font-family: "Times New Roman", Times, serif;
  margin-right: 0px;
}

.fav {
  margin-right: 100px;
}

/*Aici incepe sectiunea Carousel*/

.carousel-item {
  height: 420px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  height: 300px;
}

.card {
  background-color: #fff;
  border: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: transition opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgb(151, 109, 31);
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1;
  background-color: rgb(151, 109, 31);
}

.carousel {
  margin-bottom: 300px;
}

/*Aici incepe sectiunea cardurilor*/

.card-button {
  background-color: transparent;
  border: none;
  color: rgb(190, 148, 69);
  padding: 8px 6px;
}

.card-button i {
  vertical-align: middle;
}

.card1 {
  background-color: white;
  border: none;
  border-radius: 10px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(151, 109, 31);
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.card-text {
  font-weight: 100;
  color: rgb(204, 182, 74);
  font-family: "Times New Roman", Times, serif;
}

.view {
  background-color: rgb(151, 109, 31);
  border-radius: 20px;
  color: #fff;
  margin-left: 60px;
}

.view:active {
  top: 2px;
  position: relative;
}

.view:hover {
  background-color: rgb(204, 182, 74);
}

/*Butoanele shopp si favorite*/

.favorite {
  background-color: transparent;
  border: none;
  color: rgb(225, 212, 137);
  padding: 8px 6px;
}

.favorite i {
  vertical-align: middle;
}

/*Butoanele shopp si favorite din nav-bar*/

.nav-fav i {
  vertical-align: middle;
}

.favorite:focus {
  outline: none;
}

.favorite:active {
  top: 2px;
  position: relative;
}

.pay:focus {
  outline: none;
}

.pay:active {
  top: 2px;
  position: relative;
}

/*Footer*/

.footer2 {
  margin-top: 100px;
}
.pic {
  height: 30px;
}
.pic1 {
  height: 25px;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(151, 109, 31);
}

/*Animatie*/
.brand-name,
.h4-text {
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#title,
#subtitle {
  animation: fadeInAnimation 3s ease-in 0.5s forwards;
}

/*Alte modificari de pe parcurs*/
.f-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100px;
  color: rgb(190, 148, 69);
}

hr {
  border: none;
  border-top: 2px solid rgb(151, 109, 31);
}

.carousel-p {
  margin-bottom: 50px;
}

.banner-f {
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.carduri-c {
  margin-top: 70px;
}
.banner-c {
  height: 600px;
  margin-left: 200px;
}

/*responsive*/

.carduri-c .card1 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .container1 .carousel-item {
    height: auto;
  }

  .container1 .carousel-p {
    margin-bottom: 20px;
  }
  .carduri-c .card1 {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    .navbar {
      margin: 20px;
    }

    .logo {
      font-size: 20px;
      margin: 5px;
    }

    .navbar-nav {
      flex-direction: column;
    }

    .nav-item {
      padding: 5px 0;
    }

    .brand-name {
      font-size: 24px;
      margin-right: 0;
      margin-top: 20px;
    }

    .h4-text {
      font-size: 16px;
      margin-right: 0;
      margin-top: 5px;
    }
  }
}
